body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding-top: 1em;
    padding-right: 2em;
    padding-left: 2em;
    padding-bottom: 1em;
}

.clock-title {
    font-size: 5vw;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.clock-reset {
    color: white;
    display: inline-block;
    background: red;
    padding: 0.25em;
    border-radius: 5%;
}

.clock-time {
    font-size: 20vw;
    text-align: center;
}

.clock-controls {
    font-size: 5vw;
    display: flex;
    justify-content: space-between;
}  

.disabled {
    color: #00000089;
}

.enabled {
    color: black;
}

.btn-group button {
    background-color: whitesmoke; /* Green background */
    border: 1px solid blue; /* Green border */
    color: black; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: deepskyblue;
}